<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.gotapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HouseArryn" />
        <activity android:name=".HouseBaratheon" />
        <activity android:name=".HouseBolton" />
        <activity android:name=".HouseFrey" />
        <activity android:name=".HouseGreyjoy" />
        <activity android:name=".HouseLannister" />
        <activity android:name=".HouseMartell" />
        <activity android:name=".NightsWatch" />
        <activity android:name=".HouseStark" />
        <activity android:name=".HouseTargaryen" />
        <activity android:name=".HouseTully" />
        <activity android:name=".HouseTyrell" />
        <activity android:name=".aLDivision" />
        <activity android:name=".mTDivision" />
        <activity android:name=".Organisations" />
        <activity android:name=".Brotherhood" />
        <activity android:name=".Kingsguard" />
        <activity android:name=".IronBank" />
        <activity android:name=".Religions" />
        <activity android:name=".RelWesteros" />
        <activity android:name=".RelEssos" />
        <activity android:name=".RelGreatStallion" />
        <activity android:name=".RelLordLight" />
        <activity android:name=".RelManyFacedGod" />
        <activity android:name=".Seasons" />
        <activity android:name=".SeasonFirst" />
        <activity android:name=".SeasonSecond" />
        <activity android:name=".SeasonThird" />
        <activity android:name=".SeasonFourth" />
        <activity android:name=".SeasonFifth" />
        <activity android:name=".SeasonSixth" />
        <activity android:name=".RelOldGods" />
        <activity android:name=".RelFaithSeven" />
        <activity android:name=".RelDrownedGod" />
        <activity android:name=".Se01Plot" />
        <activity android:name=".Se01Ep01" />
        <activity android:name=".Se01Ep02" />
        <activity android:name=".Se01Ep03" />
        <activity android:name=".Se01Ep04" />
        <activity android:name=".Se01Ep05" />
        <activity android:name=".Se01Ep06" />
        <activity android:name=".Se01Ep07" />
        <activity android:name=".Se01Ep08" />
        <activity android:name=".Se01Ep09" />
        <activity android:name=".Se01Ep10" />
        <activity android:name=".Se02Plot" />
        <activity android:name=".Se02Ep01" />
        <activity android:name=".Se02Ep02" />
        <activity android:name=".Se02Ep03" />
        <activity android:name=".Se02Ep04" />
        <activity android:name=".Se02Ep05" />
        <activity android:name=".Se02Ep06" />
        <activity android:name=".Se02Ep07" />
        <activity android:name=".Se02Ep08" />
        <activity android:name=".Se02Ep09" />
        <activity android:name=".Se02Ep10" />
        <activity android:name=".Se03Plot" />
        <activity android:name=".Se03Ep01" />
        <activity android:name=".Se03Ep02" />
        <activity android:name=".Se03Ep03" />
        <activity android:name=".Se03Ep04" />
        <activity android:name=".Se03Ep05" />
        <activity android:name=".Se03Ep06" />
        <activity android:name=".Se03Ep07" />
        <activity android:name=".Se03Ep08" />
        <activity android:name=".Se03Ep09" />
        <activity android:name=".Se03Ep10" />
        <activity android:name=".Se04Plot" />
        <activity android:name=".Se04Ep01" />
        <activity android:name=".Se04Ep02" />
        <activity android:name=".Se04Ep03" />
        <activity android:name=".Se04Ep04" />
        <activity android:name=".Se04Ep05" />
        <activity android:name=".Se04Ep06" />
        <activity android:name=".Se04Ep07" />
        <activity android:name=".Se04Ep08" />
        <activity android:name=".Se04Ep09" />
        <activity android:name=".Se04Ep10" />
        <activity android:name=".Se05Plot" />
        <activity android:name=".Se05Ep01" />
        <activity android:name=".Se05Ep02" />
        <activity android:name=".Se05Ep03" />
        <activity android:name=".Se05Ep04" />
        <activity android:name=".Se05Ep05" />
        <activity android:name=".Se05Ep06" />
        <activity android:name=".Se05Ep07" />
        <activity android:name=".Se05Ep08" />
        <activity android:name=".Se05Ep09" />
        <activity android:name=".Se05Ep10" />
        <activity android:name=".Se06Ep01" />
        <activity android:name=".Se06Ep02" />
        <activity android:name=".Se06Ep03" />
        <activity android:name=".Se06Ep04" />
        <activity android:name=".Se06Ep05" />
        <activity android:name=".Se06Ep06" />
        <activity android:name=".Se06Ep07" />
        <activity android:name=".Se06Ep08" />
        <activity android:name=".Se06Ep09" />
        <activity android:name=".Se06Ep10" />
        <activity android:name=".MissingPage" />
        <activity android:name=".Characters"></activity>
    </application>

</manifest>
